.container {
  max-width: 1140px;
  margin: 0 auto;
}
.header {
  background-color: #f7f7f7;
}
.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 0;
}
.header-nav-text {
  color: #969696;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  margin-right: 17px;
}
.header-nav-link:not(:last-child) {
  margin-right: 12px;
}
.header-translate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-translate-lang {
  border: none;
  background-color: #f7f7f7;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  margin-left: 10px;
}
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 33px 0;
  background-color: #ffffff;
}
.info-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info-logo-icon {
  margin-right: 13px;
}
.info-logo-group-title {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  color: #1c1e1f;
}
.info-logo-group-title-special {
  color: #e66060;
  letter-spacing: 1.5px;
}
.info-logo-group-text {
  color: #a6a6a6;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 38px;
  margin: 0;
  padding: 0;
}
.info-general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.info-general-figure:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #ddd;
  margin: 0 15px;
}
.info-general-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info-general-address {
  color: #1c1e1f;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.2px;
  margin-right: 30px;
}
.info-general-contact {
  color: #1c1e1f;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  text-decoration: none;
}
.info-general-contact-order {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
}
.info-general-contact-order-special {
  letter-spacing: 0.65px;
}
.info-general-contact-order:after {
  content: "";
  display: block;
  width: 115px;
  height: 1px;
  background-color: #e8e8e8;
}
.info-general-contact-text {
  color: #b3b3b3;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 19px;
}
